/* this file should be referenced in all template files*/
:root {
  --color-primary: #593312;     
  --color-secondary: #A67951;   
  --color-accent: #0D0D0D;     

  --color-bg: #F2F2F2;
  --color-text: #0D0D0D;
  --color-muted: #888A8C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

/* Common strux-one styles */
.strux-one-title {
  display: inline-flex;
  font-weight: inherit;
  letter-spacing: 1px;
}

.strux-title {
  color: var(--color-primary, #0000);
}

.x-title {
  color: var(--color-secondary,black);
}

.one-title {
  color: white;
  background-color: var(--color-secondary);
}

/* Navigation */
.navbar {
  transition: all 0.3s ease;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.navbar.scrolled {
  padding: 10px 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 28px;
  font-weight: 700;
  color: #0f172a;
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-brand img {
  padding-left: 1rem;
  width: 200px;
  height: 50px;
}

.nav-link {
  color: var(--color-text);
  font-weight: 500;
  margin: 0 15px;
  transition: all 0.3s ease;
  position: relative;
}

.nav-link:hover {
  color: var(--color-secondary);
}

.nav-link.active {
  color: var(--color-mueted);
}

.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--color-primary);
  border-radius: 2px;
}

/* Navbar Dropdown Hover */
.navbar .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

/* Footer */
footer {
  background: var(--color-bg);
  color: white;
  padding: 60px 0 30px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.social-link {
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-secondary);
  font-size: 20px;
  transition: all 0.3s ease;
}

.social-link:hover {
  background: var(--color-primary);
  transform: translateY(-5px);
}

.footer-text {
  text-align: center;
  color: var(--color-primary);
  margin-bottom: 10px;
}
